* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'Inter';
    line-height: 160%;
}

body {
    background-image: url(./files/background.jpg);
    background-color: #121214;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
}

header {
    padding-top: 32px;
    height: 230px;
}

header div {
    background-image: linear-gradient(90deg, #00ffea 0%, #f048ff 100%);
    display: flex;
    width: 150px;
    margin: auto;
    margin-bottom: 12px;
    padding: 4px;
    border-radius: 50%;
    transition: transform .3s;
    animation: fromTop 0.9s 0.2s backwards;
}

header div:hover {
    transform: scale(1.1);
}

header div img {
    width: 100%;
    border-radius: 50%;
}

#nickname {
    color: white;
    text-align: center;
    margin-bottom: 32px;
    animation: toRight 0.9s 0.5s backwards;
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;
    display: grid;
    gap: 24px;
    margin-top: 32px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #00ffea 0%, #f048ff 100%);
    padding-top: 4px;
    border-radius: 10px;
    animation: fromBottom 0.9s 0.5s backwards;
}

section div {
    background-color: #2a2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
    transition: transform .3s;
}

section h2 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;
}

section p {
    color: #a1a1aa;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
}

#games img {
    width: 90px;
    border-radius: 8px;
}

#streamers img {
    border-radius: 50%;
    width: 70px;
}

.channel-list img {
    border: 1px solid grey;
}

#social-list {
    margin-bottom: 48px;
}

li {
    margin-right: 12px;
    transition: transform .3s;
}

li:hover {
    transform: scale(1.1);
}

/*Animations*/
@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes toRight {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

section:nth-child(1) {
    animation-delay: 0s;
}

section:nth-child(2) {
    animation-delay: 0.4s;
}

section:nth-child(3) {
    animation-delay: 0.8s;
}